.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  @media (min-width: $tablet-width) {
    width: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}
