// Colors

$black: #333333;
$white: #ffffff;
$grey: #bdbdbd;
$primary: #7859cf;
$secondary: #f0ebff;

$primary-25: rgba(120, 89, 207, 0.25);
$primary-25-no-transparency:#ddd5f3;
$primary-lighter: #9070ec;
$primary-darker: #593cac;
$light-grey: #e2e2e2;

$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;


//Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-only: 767px;
